// 设置页面的主体基本颜色
@baseColor: #006699;

// 设置页面的根字体大小
html {
    font-size: 26.66667vw;
}

// 公共样式的初始化
body {
    font-size: .14rem;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

// 头部区域的滚动
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: @baseColor;
    color: white;
    z-index: 99;
    
    .left {
        height: .45rem;
        width: .45rem;
    }
    .center {
        height: .45rem;
        flex: 1;
        h4 {
            margin: 0;
            line-height: .45rem;
            text-align: center;
            font-weight: 400;
        }
    }
    .right {
        height: .45rem;
        width: .45rem;
        i {
            line-height: .45rem;
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        
    }
}

//底部区域的滚动
   // 底部区域
   #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .45rem;
    background-color: @baseColor;
    color: #fff;
    display: flex;
        div {

            flex: 1;
            a{
                color: #fff;
                display: block;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                i {
                    margin-top: .06rem;
                }
            }
            .active {
                color: red;
            }
        }
}

