html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
#header {
  display: flex;
  background-color: #006699;
  color: white;
}
#header .left {
  height: .45rem;
  width: .45rem;
}
#header .center {
  height: .45rem;
  flex: 1;
}
#header .center h4 {
  margin: 0;
  line-height: .45rem;
  text-align: center;
  font-weight: 400;
}
#header .right {
  height: .45rem;
  width: .45rem;
}
#header .right i {
  line-height: .45rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}
