html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
#header {
  display: flex;
  background-color: #006699;
  color: white;
}
#header .left {
  height: .45rem;
  width: .45rem;
}
#header .center {
  height: .45rem;
  flex: 1;
}
#header .center h4 {
  margin: 0;
  line-height: .45rem;
  text-align: center;
  font-weight: 400;
}
#header .right {
  height: .45rem;
  width: .45rem;
}
#header .right i {
  line-height: .45rem;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.bigbox .nav .navdirection {
  padding: .1rem;
}
.bigbox .nav .navdirection div a {
  width: 100%;
  display: block;
}
.bigbox .nav .navdirection div a img {
  width: 100%;
  vertical-align: middle;
}
.bigbox .shoe .shoebox {
  padding: 0 .1rem;
}
.bigbox .shoe .shoebox .shoeleft a {
  display: flex;
  height: 1.2rem;
  width: 100%;
}
.bigbox .shoe .shoebox .shoeleft a img {
  width: 50%;
  height: 100%;
  vertical-align: middle;
}
.bigbox .shoe .shoebox .shoeright a {
  display: block;
  height: 2.4rem;
}
.bigbox .shoe .shoebox .shoeright a img {
  width: 100%;
  height: 100%;
}
.bigbox .brandzone {
  padding: 0 .1rem;
}
.bigbox .brandzone .titlt a {
  display: block;
}
.bigbox .brandzone .titlt a img {
  width: 100%;
  vertical-align: middle;
}
.bigbox .brandzone .content {
  display: flex;
  flex-wrap: wrap;
}
.bigbox .brandzone .content a {
  flex: 25%;
}
.bigbox .brandzone .content a img {
  width: 100%;
  vertical-align: middle;
}
.bigbox .sportlife {
  padding: .1rem;
}
.bigbox .sportlife .toptitlt a {
  display: block;
}
.bigbox .sportlife .toptitlt a img {
  width: 100%;
}
.bigbox .sportlife .bottomcontent {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.bigbox .sportlife .bottomcontent .contentbox {
  width: 50%;
}
.bigbox .sportlife .bottomcontent .contentbox .contentdetaile {
  width: 100%;
}
.bigbox .sportlife .bottomcontent .contentbox .contentdetaile img {
  width: 100%;
}
.bigbox .sportlife .bottomcontent .contentbox .contentdetaile p {
  text-align: center;
}
.bigbox .sportlife .bottomcontent .contentbox .contentdetaile span {
  text-align: center;
}
.bigbox .sportlife .bottomcontent .contentbox .button {
  text-align: center;
  margin-bottom: .1rem;
}
.bigbox #footer {
  height: .45rem;
  background-color: #006699;
  color: #fff;
  display: flex;
}
.bigbox #footer div {
  flex: 1;
}
.bigbox #footer div a {
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bigbox #footer div a i {
  margin-top: .06rem;
}
.bigbox #footer div .active {
  color: red;
}
